@{
    ViewBag.Title = "Home";
}

<section id="banner">

    <!-- Slider -->
    <div id="demo-1" data-zs-src='["/../Content/img/photos/UnionStationRed.jpg", "/../Content/img/photos/KCScout.jpg", "/../Content/img/photos/KCDowntown.jpg"]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <h1><span>Welcome!</span></h1><br />
            <p>MindiFord.com</p>
        </div>
    </div>
    <!-- end slider -->
</section>
@* Section w/ black background *@
@*<section class="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">Our Featured Projects</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br />doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
                    <br />
                </div>
            </div>
        </div>
    </section>*@

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>About</h2>
                    @*<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 col-sm-3">
                <div class="about-image">
                    <img src="~/Content/img/MindiFord.png" alt="About Images">
                </div>
            </div>
            <div class="col-md-7 col-sm-6">
                <div class="about-text">
                    @*<h3>About Us</h3>*@
                    <p>
                        Hello, my name is Mindi Ford. I am a full stack web developer. I am also energetic, optimistic, eager to learn (and teach) new things, and a mother of 3 hilarious little people. This site will allow you to get to know me a little better, showcase my portfolio projects, and introduce you to my class mates. Enjoy!
                    </p>

                    <p>
                        I have a very diverse work history. Everything from serving and bartending to designing and building custom picture frames. I’ve been drawn to anything that involves precision, working with other people and pressure. I am currently a student at Centriq Training in the Full Stack Web Developer Track. A couple of things I’m really enjoying are C#, JavaScript, SQL, and React. I have gained some months’ work experience during my studies but now I’m looking to shift gears and get some real-world experience. I bring proven leadership, teamwork, communication, and a love for details. This career change is something I have been wanting to do for a long time! I have always been super intrigued by development because it’s carnivorous, always changing, and I can continue to learn. I can’t wait to have a job doing something I love! I want to work for a company where I can continue to develop while being an optimistic and levelheaded contribution to the team even when things don’t go as planned! I would love an opportunity to implement my skills with your company.
                    </p>

                    @*<a href="#" class="btn btn-primary waves-effect waves-dark">Learn More</a>*@
                </div>
            </div>
        </div>
    </div>
</section>
