
@{
    ViewBag.Title = "Resume";
}
<section id="inner-headline">
    @*<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">@ViewBag.Title</h2>
            </div>
        </div>
    </div>*@
</section>
<section id="content">
    <section id="pricing">
        <div class="container">
            @*<div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>resu<span class="color">Me</span></h3>
                        <p>The resume below was built in HTML &amp; CSS with Bootstrap. There is a link at the bottom that will take you to a printable pdf version.</p>
                    </div>
                </div>
            </div>*@

            <section id="resume" class="resume-bg">
                <div class="container">

                    <div class="row text-center">
                        <h1>Mindi Ford</h1>
                        <p>mindiford@live.com &bull; 816-935-5531 &bull; MindiFord.com</p>
                        <p><a href="https://www.linkedin.com/in/mindi-ford-59a36953/" target="_blank">LinkedIn: https://www.linkedin.com/in/mindi-ford-59a36953/</a></p>
                    </div>
                    <div class="row">
                        <h2 class="h-resume text-center">FULL STACK DEVELOPER</h2>
                        <br />
                        <div class="col-md-3"></div>
                        <ul class="col-md-4">
                            <li>.NET Framework</li>
                            <li>Full Stack Web Appication Design</li>
                            <li>C# Fundamentals</li>
                            <li>Database Management</li>
                        </ul>
                        <ul class="col-md-4">
                            <li>Unit Testing</li>
                            <li>Software Development Lifecycle</li>
                            <li>Agile Scrum Methodology</li>
                            <li>Continued Growth in IT Knowledge</li>
                        </ul>
                    </div>
                    <br />
                    <div class="row">

                        <h2 class="h-resume text-center">TECHNICAL AND PROFESSTIONAL SKILLS</h2>
                        <div class="col-md-2"></div>
                        <ul class="col-md-8">
                            <li>Front End: HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                            <li>Middle Tier: C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API</li>
                            <li>Back End: ADO.NET, T-SQL, SQL, SQL Server</li>
                            <li>Tools: Visual Studio, Visual Studio Code, SSMS</li>
                            <li>Professional Skills: Troubleshooting, Critical Thinking, Communication, Project Management, Fundamentals, Teamwork, Pair Programming</li>
                        </ul>
                    </div>
                    <br />
                    <div class="row">
                        <h2 class="h-resume text-center">INDEPENDENT DEVELOPMENT PROJECTS</h2>
                        <div class="col-md-2"></div>
                        <ul class="col-md-8">
                            <li class="display: ">Personal Site: Converted and customized template to create personal site with HTML/CSS, JavaScript, Bootstrap, and jQuery in MVC. This site contains resume in HTML &amp; PDF, portfolio, class links, and contact information.</li>
                            
                            <li>StoreFront: Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                           
                            <li>S.A.T. Scheduling Admiistration Tool: Created a secure application for managing product data. Applicaiton is build to simulate an online scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
                        </ul>
                    </div>
                    <br />
                    <div class="row">
                        <h2 class="h-resume text-center">TECHNICAL TRAINING</h2>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">Full Stack Web Developer Program, Centriq Training<br />Kansas City, MO</div>

                            </div>

                        </div>
                    </div>
                   
                    <div class="row">

                        <div class="col-md-3"></div>
                        <ul class="col-md-4">

                            <li>MVC Framework</li>
                            <li>Trouble Shooting &amp; Debugging</li>
                            <li>Source Control</li>
                            <li>Agile/Scrum (Created Team Project)</li>
                        </ul>
                        <ul class="col-md-4">
                            <li>Website Deployment</li>
                            <li>Pair Programming</li>
                            <li>Code Review</li>
                        </ul>
                    </div>
                    <br />
                    <div class="row text-right">
                        <!--<a href="images/MindiFordResumeIT.pdf" >Full Resume PDF</a>-->
                        <button type="button" class="btn btn-xl" data-toggle="modal" onclick="window.open('/../Content/img/MindiFordResumeIT.pdf')">
                            Resume PDF
                        </button>

                    </div>
                </div>
                <!-- /.container -->
            </section>


        </div>
    </section>
</section>
